@media screen and (min-width:769px) {

    /* header */
    #header-menu > div {
        max-width: 1200px;
        margin: 0px auto;
        text-align: center;
    }

    #small-nav {
        display: none;
    }
    
    #big-nav {
        display: block;
    }

    /* main: section 2 planning */
    #planning-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    #planning-container > div {
        width: 45%;
    }

    #planning-card {
        margin-top: 150px;
    }

    #planning-card > img {
        width: 50%;
    }

    /* section 4: features */
    .feature-card {
        width: 30%;
    }

    /* section 5: About us */
    #about-cont > div > h2 {
        font-size: 70px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

     #about-general {
        width: 60%;
     }

     #about-profile {
        width: 25%;
     }




}