/*********
 *general*
 *********/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    border: none;
}















/********
 *HEADER*
 ********/

#header-menu {
    background-color: rgb(0,132,253);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

#header-menu > div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#small-nav {
    color: white;
    font-size: 30px;
}

#big-nav {
    display: none;
    font-size: 18px;
}

#big-nav > a {
    color: white;
    padding-right: 20px;
}

#big-nav > button {
    background-color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: inherit;
}

#big-nav > button > a {
    color: black;
}








/******
 *MAIN*
 ******/






 /* section 2: planning */

 #planning-container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px 50px;
 }

 #planning-container > div > img {
    max-width: 100%;
    padding-bottom: 40px;
 }

 #planning-container > div > h2 {
    color: white;
    font-size: 30px;
    padding-bottom: 40px;
 }

 #planning-container > div > p {
    color: white;
    line-height: 25px;
    padding-bottom: 20px;
 }
 

 #planning-card {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 60px;
}

 #planning-container > #planning-card > h2 {
    color: black;
    padding-bottom: 20px;
}

#planning-container > #planning-card > p {
    color: black;
    font-style: italic;
    font-size: 18px;
    line-height: 35px;
 }

 #planning-card > button{
    margin: 20px auto;
 }

 #planning-card > button > a {
    background-color: rgb(151,146,228);
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    color: black;
 }






 /* section 3: testimonials */

 #testimonial-cont {
    max-width: 1200px;
    margin: 0px auto;
    padding: 50px 30px;
    text-align: center;
 }

 #testimonial-cont > h6 {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 30px;
 }

 #testimonial-cont > h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: rgb(151,146,228);
    line-height: 60px;
 }

 #testimonial-cont > p {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 50px;
 }



  /* testimonial cards */

 .testimonial-card {
    background-color: rgb(151,146,228);
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
 }

 .testimonial-card > div > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
 }

 .testimonial-card > div > p {
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin: 10px auto;
 }

 .testimonial-card > div > h4 {
    color: white;
    font-size: 25px;
    padding-top: 10px;
    margin: 10px auto;
 }









 

 /* section 4: Features */

#feature-cont {
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 50px;
}

#feature-cont > h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.feature-card {
    background-color: white;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
}

.feature-card > h2 {
    color: rgb(151,146,228);
    font-size: 50px;
    padding: 20px;
}

.feature-card > h3 {
    color: rgb(151,146,228);
    font-size: 25px;
    padding-left: 20px;
}

.feature-card > p {
    color: rgb(129,129,129);
    line-height: 25px;
    padding: 20px;
}

.feature-card > button {
    margin: 20px;
}

.feature-card > button > a {
    background-color: rgb(151,146,228);
    color: white;
    padding: 10px 40px;
    border-radius: 25px;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: 700;
}













/* section 5: About us */

#about-cont {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
}

#about-cont > div > h2 {
    font-size: 50px;
    color: rgb(151,146,228);
    padding-bottom: 30px;
}

#about-cont > div > p {
    font-size: 20px;
    line-height: 35px;
    padding-bottom: 30px;
}

#about-profile > div {
    position: relative;
    margin-top: 30px;
    margin-bottom: 25px;
}

#about-profile > div > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
 }

 #about-profile > div > span {
    position: absolute;
    bottom: 55%;
    right: 50%;
    color: rgb(151,146,228);
    font-size: 80px;
 }

 #about-cont > #about-profile > p {
    color: rgb(151,146,228);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
 }

 #about-profile > button > a {
    background-color: rgb(151,146,228);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 50px;
 }

 #about-profile > button > a > i {
    padding-right: 15px;
 }
 












 /* section 6: let's start */

 #sct-6-cont {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
 }

 #sct-6-cont > h6 {
    color: rgb(203,201,241);
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: lighter;
 }

 #sct-6-cont > h5 {
    color: white;
    font-size: 30px;
 }

 #sct-6-cont > h3 {
    color: rgb(236,185,117);
    font-size: 60px;
    padding: 40px 0;
 }

 #sct-6-cont > p {
    color: white;
    padding-bottom: 20px;
 }

 #sct-6-cont > button {
    display: block;
     margin: 40px auto;

 }

 #sct-6-cont > button > a {
    background-color: white;
    color: rgb(171,167,233);
    padding: 20px 60px;
    border-radius: 70px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
 }

 #sct-6-cont > div {
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
 }

 #sct-6-cont > div a {
    color: white;
    text-decoration: underline;
 }
 
 #sct-6-cont > div > span > i {
    font-size: 5px;
    vertical-align: middle;
 }













/********
 *FOOTER*
 ********/

 #footer-cont {
    background-color: rgb(51,51,51);
    width: 100%;
 }

 #footer-cont > div {
    max-width: 500px;
    margin: 0px auto;
 }
 
 #footer-cont > div > p {
    font-size: 15px;
    color: white;
    padding: 40px;
    text-align: center;
 }

 #footer-cont > div > p > a {
    text-decoration: underline;
    color: rgb(131,127,193);
 }






