/* general */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    border: none;
}















/* 
HEADER
*/

#header-menu {
    background-color: rgb(0,132,253);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

#header-menu > div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#small-nav {
    color: white;
    font-size: 30px;
}

#big-nav {
    display: none;
    /* padding-top: 10px; */
    font-size: 18px;
}

#big-nav > a {
    color: white;
    padding-right: 20px;
}

#big-nav > button {
    background-color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: inherit;
}

#big-nav > button > a {
    color: black;
}







/* 
FOOTER
 */

 #footer-cont {
    background-color: rgb(51,51,51);
    width: 100%;
 }

 #footer-cont > div {
    max-width: 500px;
    margin: 0px auto;
 }
 
 #footer-cont > div > p {
    font-size: 15px;
    color: white;
    padding: 40px;
    text-align: center;
 }

 #footer-cont > div > p > a {
    text-decoration: underline;
    color: rgb(131,127,193);
 }






/* debug */


#space {
    margin-top: 1000px;
}
