@media screen and (min-width:481px) {
    /* main: section 2 planning */
    #planning-container > div > #planning-title {
        font-size: 60px;
    }




    /* testimonial cards */
    .testimonial-card {
        display: flex;
        text-align: left;
        border-radius: 50px;
    }
    
    .testimonial-card > div {
        padding-right: 30px;
    }

    .testimonial-card > div > img {
        width: 200px;
        height: 200px;
     }



     /* section 6: let's */
     #sct-6-cont > h5 {
        font-size: 50px;
     }

     #sct-6-cont > h3 {
        font-size: 100px;
     }

     #sct-6-cont > p {
         padding-left: 60px;
         padding-right: 60px;
         line-height: 35px;
         font-size: 18px;
     }
}